/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Custom styles
  ========================================
*/



body {
   background: #343434;
  text-rendering: geometricPrecision;.

   letter-spacing: 0.4px;
   word-spacing: 2px;
  color: #a9b2b9;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
} /* 16px/22px = font size line height

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container,
.grid {
  margin: 0 auto;
  max-width: 70%;
}
.container {
  padding-left: 4%;
  padding-right: 4%;
}

.grid,
.col-1-3,
.col-2-3 {
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.col-1-3,
.col-2-3 {
  display: inline-block;
  vertical-align: top;
}

.col-1-3 {
  width: 33.33%;
} 
.col-2-3 {
  width: 66.66%;
}

/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Rows
  ========================================
*/

.row {
  
  border-bottom: 1px solid #648880;
   background:#343434;
  min-width: 100%;
  padding: 66px 0 44px 0;
}

/*
  ========================================
  Typography
  ========================================
*/

h1, h2, h3, h4 {
  color: #e46a3c;
}

h1, h2, h3, h4, h5, p {
  margin-bottom: 22px;
}

h1 {
  font-size: 36px;
  line-height: 44px;

}
h2 {
  font-size: 24px;
  line-height: 44px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color:#648880;
}

p{
  font-weight: 300;
}

strong {
  font-weight: 400;
}
cite,
 em {
  font-style: italic;
}

/*
  ========================================
  Links
  ========================================
*/

a {
  color: #e46a3c;
  text-decoration: none;
}
a:hover {
  color: #a9b2b9;
}
p a {
  border-bottom: 1px solid #dfe2e5;
}

.primary-header a,
.primary-footer a {
  color: #e46a3c;
}

.primary-header a:hover,
.primary-footer a:hover {
  color: #a9b2b9;
}



/*
  ========================================
  Buttons
  ========================================
*/

.btn {
  border-radius: 5px;
  display: inline-block;
  margin: 0;
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid #e46a3c;
}

.btn-alt {
  border: 1px solid #e46a3c;
  padding: 10px 30px;
  margin-top: 25px;
}

.btn-alt:hover {
  border: 1px solid #a9b2b9;
  color: #a9b2b9;
}

.btn-default {
  color:#e46a3c;
  background: #343434;
  padding: 11px 30px;
  font-size: 14px;
 
}
.btn-default:hover {
 border: 1px solid #a9b2b9;
  color: #a9b2b9;
}

/*
  ========================================
  Primary header
  ========================================
*/



.logo {
  border-top: 10px solid #e46a3c;
  float: left;
  font-size: 48px;
  font-weight: 800;
  letter-spacing: .95px;
  line-height: 44px;
  padding: 30px 0 22px 0;
  text-transform: uppercase;
}

.tagline {
  margin: 66px 0 22px 0;
  text-align: right;
  color:#648880;
}

.primary-nav {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: .5px;
  text-transform: uppercase;
}

/*
  ========================================
  Primary footer
  ========================================
*/

.primary-footer {
  color: #e46a3c;
  font-size: 14px;
  margin-top: 20px;
  padding-bottom: 44px;
  padding-top: 44px;
}
.primary-footer small {
  float: left;
  font-weight: 100;
}

/*
  ========================================
  Navigation
  ========================================
*/

.nav {
  text-align: right;
}

.nav li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}
.nav li:last-child {
  margin-right: 0;
}

/*
  ========================================
  Home
  ========================================
*/

.hero {
  color: #a9b2b9;
  line-height: 44px;
  padding: 22px 80px 66px 80px;
  text-align: center;

}

.row{
  margin-top: -40px;
}

.hero h2 {
  font-size: 36px;
  color:#648880;
  font-weight: 100;
}

.hero p {
  font-size: 24px;
  font-weight: 100;
  line-height: 1.5em;
  padding-bottom: 20px;
}

.teaser a:hover h3 {
  color: #a9b2b9;
}

.teaser img {
  border-radius: 5px;
  display: block;
  margin-bottom: 22px;
  max-width: 100%;
  height:auto;
}

/*
  ========================================
  Speakers
  ========================================
*/

.speaker {
  margin-bottom: 44px;
}
  
.speaker-info {
  
  border-radius: 5px;
  margin-top: 66px;
  font-weight: 100;
  text-align: center;
}

.speaker-info img {
  border-radius: 50%;
  height: 70px;
  margin: -66px 0 22px 0;
  vertical-align: top;
 
}


  .desaturate{
    filter:  contrast(150%) sepia(.7);
  -webkit-filter:  contrast(150%) sepia(.7);
  -moz-filter: contrast(150%) sepia(.7);
  -o-filter:  contrast(150%) sepia(.7);
  -ms-filter: contrast(150%) sepia(.7);
}

  .desaturate:hover{
    filter:  contrast(100%) sepia(.1);
  -webkit-filter:  contrast(100%) sepia(.1);
  -moz-filter: contrast(100%) sepia(.1);
  -o-filter:  contrast(100%) sepia(.1);
  -ms-filter: contrast(100%) sepia(.1);
}

/*
  ========================================
  Register
  ========================================
*/

.why-attend {
  list-style: square;
  margin: 0 0 22px 30px;
}

form {
  margin-bottom: 22px;
}
input,
select,
textarea {
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.register-group label {
  color: #a9b2b9;
  cursor: pointer;
  font-weight: 400;
}
.register-group input,
.register-group select,
.register-group textarea {
  border: 1px solid #c6c9cc;
  border-radius: 5px;
  color: #888;
  display: block;
  margin: 5px 0 27px 0;
  padding: 5px 8px;
}
.register-group input,
.register-group textarea {
  width: 100%;
}
.register-group select {
  height: 34px;
  width: 60px;
}
.register-group textarea {
  height: 78px;
}

/*
  ========================================
  Lead
  ========================================
*/

.lead p{
  font-size: 24px;
  line-height: 1.5em;
  color: #a9b2b9;
  font-weight: 100;
  padding-bottom: 0px;
  
}

.lead h1{
  padding-top: 22px;
  font-size: 36px;
  font-weight: 100;
}

/*
  ========================================
  Schedule
  ========================================
*/

table {
  margin-bottom: 44px;
  width: 100%;

}
table:last-child {
  margin-bottom: 0;
}
th,
td {
  padding-bottom: 22px;
  vertical-align: top;
}
th {
  padding-right: 45px;
  text-align: right;
  width: 20%;
}
td {
  width: 40%;
}
thead {
  line-height: 44px;
}
thead th {
  color: #648880;
  font-size: 24px;
}
tbody th {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  padding-top: 22px;
  text-transform: uppercase;
}
tbody td {
  border-top: 1px solid #648880;
  padding-top: 21px;
}
tbody td:first-of-type {
  padding-right: 15px;
}
tbody td:last-of-type {
  padding-left: 15px;
}
tbody td:only-of-type {
  padding-left: 0;
  padding-right: 0;
}
table a {
  color: #888;
}
table h4 {
  margin-bottom: 0;
}
.schedule-offset {
  color: #a9b2b9;
}

/*
  ========================================
  Venue
  ========================================
*/

.venue-theatre {
  margin-bottom: 66px;
}
.venue-hotel {
  margin-bottom: 22px;
}

.venue-map {
  height: 264px;
}

.color-shift{
      filter: sepia(.3);
  -webkit-filter: sepia(.3);
  -moz-filter: sepia(.3);
  -o-filter: sepia(.3);
  -ms-filter: sepia(.3);
}

/*
  ========================================
  MEDIA QUERIES
  ========================================
*/




@media all and (max-width: 880px) {
  body, html { 
    overflow-x:hidden; 
  }

.primary-nav, .tagline{
  clear:both;
  text-align: left;
}

.row{
  min-width:100%;
  
  padding-left: 0;
}
.col-1-3,
.col-2-3 {
  display: block;
  width: 100%;
  padding: 1em 0 1em 0;
  
}

.teaser.col-1-3{
  width:100%;
  display:block;
}


.table{
  width:100%;
}
/*
.row{
  margin-left: -100px;
}
*/
  .container {
    margin-left: 0px;
    min-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
.nav{
  font-size: .7em
}

table {
  margin-bottom: 22px;
  max-width: 300px;
 
}

.info{
  font-size: 12px;
  line-height: 16px
}
table h4{
  font-size: 1em;
}
table:last-child {
  margin-bottom: 0;
}
th,
td {
  padding-bottom: 11px;
  vertical-align: top;
}
th {
  padding-right: 22px;
  text-align: right;
  width: 20%;
}
td {
  max-width: 40px;
}
thead {
  line-height: 22px;
}
thead th {
  color: #648880;
  font-size: 14px;
}
tbody th {
  color: #a9b2b9;
  font-size: 12px;
  font-weight: 400;
  padding-top: 11px;
  text-transform: uppercase;
}
tbody td {
  border-top: 1px solid #648880;
  padding-top: 11px;
  max-width: 60px;
}
tbody td:first-of-type {
  padding-right: 8px;
}
tbody td:last-of-type {
  padding-left: 8px;
}
tbody td:only-of-type {
  padding-left: 0;
  padding-right: 0;
}
table a {
  color: #888;
}
table h4 {
  margin-bottom: 0;
}
.schedule-offset {
  color: #a9b2b9;
}

.primary-footer small{
  font-size: 10px;
}

}

@media all and (max-width: 400px){
  .logo{
    font-size: 2.75em;
    margin-bottom: 0px;
  }

  .tagline{
    font-size: 1em;
  }

  .primary-nav li {
  text-align: center;
  display: block;
  padding: 10px 0 10px 0;
  margin: 0;
  border-top: 1px solid #a9b2b9;
}

.primary-nav li:last-child{
  border-bottom: 1px solid #a9b2b9;
}

  .primary-nav{
  font-size: 12px;
  text-align:center;
  margin-left: 0;
  min-width: 100%;

}
}
@media all and (max-width: 385px){
  .logo{
    font-size: 2.5em;
    margin-bottom: 0px;
  }

  .tagline{
    font-size: 1em;
  }

 .nav li{
  clear:both;
  text-align: center;
  display:block;
  padding: 10px 0 10px 0;
  margin: 0;
 }

}

